/* ul{
    list-style: circle;
}
.list2{
    list-style: square;
}
ol{list-style: none;
    padding: 0;
    border: 2px solid green;


}
ol li{
    background-color: aqua;
    padding: 10px;
    margin-left: 30px;
}
ol li{
    border: 2px solid blue; */

.lista3{
    border-left: 5px solid green;
    padding: 15px 25px ;
    background-color: #f1f1f1;
    list-style-type: none;
    font-size: 10px;
}
table{
    border-collapse: collapse;
}
td,th{
    border:1px solid plum;
    padding:15px;


}
tbody tr:nth-child(odd){
    background-color: #743939;
}
tbody tr:nth-child(even){
    background-color: #743939;
}
div{
    overflow: scroll;
    background-color: blue;
    width: 300px;
    height: 300px;
}
