@media all and (min-width: 600px){

    body{

        background: blue;
        color: white;
    }
}


@media all and (max-width: 600px){

    body{

        background: purple;
        color: rgb(95, 46, 46);
    }

    img{
        width: 100px;
        height: 100px;

    
    }
}

h1{
    border: 2px solid white;
    padding: 20px;
}

@media all and (orentation: landscape){
   font: size 80px;
}

@media all and (orentation:portait){
    font: size 80px;
}
   

@media all and (max-width: 600px) (min-width:900){

    img{
        display:none
    }
}s